.__DriversContainer__Main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    position: sticky;
    top:0;
    padding: 10px;
}

.DriversContainer__Content {
    position: sticky;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.__DriversContainer-Content--Cards {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.__DriversContainer-Content--Cards::-webkit-scrollbar-track {
    background: #000;
}



.DriverCard__Main {
    width: 424px;
    height: 654px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 4px 2px 13px rgba(0, 0, 0, 0.25);
    padding: 15px;
}

.DriverCard__Content {
    width: 381px;
    height: 467px;
    /*background: linear-gradient(360deg, #c62424f0 0%, #15151F 100%);*/
    border-radius: 20px;
}

.DriverCard__Content-Image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.DriverCard__Container-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.DriverCard__Content-Image--Driver{
    width: 290px;
}

.DriverCard__Content-Info {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.DriverCard__Content-Info--Name {
    display: flex;
    gap: 10px;
}

.titleDrivers {
    font-size: 22px;
}

.secundaryColorName {
    width: 6px;
    height: 24px;
    border-radius: 2px;
    background-color: blue;
}

.driver-Champs {
    display: flex;
    align-items: center;
}

.iconName {
    font-size: 24px;
    color: #FFC700;
}

.DriverCard__Content-Stats {
    display: flex;
    gap: 8px;
    padding: 0px 10px 0px 10px;
}

.DriverCard__Content-Stats--Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flagDrivers {
    width: 35px;
    height: 24px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.numberDrivers {
    font-size: 32px;
    font-weight: bold;
}

.helmetDrivers {
    width: 66px;
}

.DriverCard__Content-infoDown {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
}