.custom-shape-divider-bottom-1666904080 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1666904080 svg {
    position: relative;
    display: block;
    width: calc(222% + 1.3px);
    height: 140px;
}

.custom-shape-divider-bottom-1666904080 .shape-fill {
    fill: #ff0844;
}

.__FooterContainer-Main {
    width: 100%;
    height: 30vh;
    display: flex;
    background-color: #ff0844;
    margin: 0;
}

.__FooterContainer-Main {
    width: 100%;
    height: 20vh;
}

.__FooterContainer-Content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.__FooterContainer-SocialMedia {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
    list-style: none;
    height: max-content;
    border-left: #ffffff solid 1px;
    color: #ffffff;
    justify-content: center;
}

.linkSocialMedia {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}

.OficcialPageLink__icon {
    font-size: 30px;
}

.OficcialPageLink {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linksURL {
    color: #ffffff;
    text-decoration: none;
}

.LogoFooter__img {
    width: 100px;
}